.card-views {
  position: absolute;
  top: 10px; /* Adjust the top position */
  right: 10px; /* Adjust the right position */
  background-color: var(--background);
  color: #1faeff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.card-views i {
  font-size: 18px;
}
.container{
  display: flex;
  margin: 0 auto;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto
}

